body {
  color: #31326f;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 40px;
}

h3 {
  color: #301b3f;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

p {
  color: black;
  font-size: 1.1rem;
  font-family: 'Merriweather', serif;
}

hr {
  background-color: inherit;
  border-style: dotted none none;
  border-color: #31326f;
  border-width: 5px;
  margin: 50px auto;
  opacity: inherit;
  width: 5%;
}

button {
  margin: 50px auto;
}

.navbar {
  padding: 10px 30px;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

.navbar a {
    color: #31326f;
}

.dropdown {
  display: none;
}

.top-container {
  background-color: #DEEDF0;
}

.heading {
  padding-top: 100px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.heading h1 {
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
  font-weight: bold;
  /*margin-bottom: 40px;*/
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 80px;
  z-index: 1;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mountain-img {
  width: 60%;
  object-fit: cover;
  z-index: 1;
}

.middle-container {
  background-color: #FFFFFF;
  padding: 50px 0;
}

.profile {
  line-height: 2;
  margin: 100px auto;
  width: 50%;
}

.profile-img {
  border: 7px solid #31326f;
  border-radius: 50%;
  height: 12rem;
  margin-bottom: 30px;
  width: auto;
}

.intro {
  margin: 40px auto;
  width: 60%;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 40%;
}

.skill-row p {
  margin-top: 20px;
}

.computer-img {
  float: left;
  height: 10rem;
  margin-right: 30px;
}

.devices-img {
  float: right;
  height: 10rem;
  margin-left: 30px;
}

#contact {
  margin: auto;
  text-align: center;
  width: 50%;
}

.bottom-container {
  background-color: #DEEDF0;
  margin: 0;
  padding: 50px;
}


.footer-link {
  color: #A2B29F;
  font-size: 2rem;
  margin: auto 30px;
}

.fa-github:hover {
  color: black;
}

.copyright {
  font-size: 0.75rem;
  padding-top: 30px;
}

@media screen and (max-width: 1000px) {
  .dropdown {
    display: inline;
  }

  .nav-item {
    display: none;
  }



  p {
    text-align: left;
  }

  h2 {
    text-align: center;
  }

  h3 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

.profile {
  width: 100%;
}

.computer-img {
  display: block;
  float: none;
  margin: 2rem auto;
}

.devices-img {
  display: block;
  float: inherit;
  margin: 2rem auto;
}

.skill-row {
  width: 80%;
}

.intro {
  width: 80%;
}

#contact {
  width: 100%;
}

  .copyright {
    text-align: center;
  }
}
